.registrtion-info-modal {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.281);
	animation: fide-in 0.2s ease-in;
	z-index: 10000;

	&__wrapper {
		padding: 30px 25px;
		flex: 1 1;
		max-width: 400px;
		background: #ffffff;
		border-radius: 10px;
		position: relative;
		z-index: 10002;
	}

	&__wrapper-bg-symbol {
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: solid 10px $mainColorGreen;
		opacity: 0.3;
		transform: scale(0.8);
		
		
		&::after {
			content: "";
			position: absolute;
			height: 26px;
			width: 127px;
			background-color: #42DD42;
			top: 84px;
			left: 51px;
			transform: rotate(304deg);
		}

		&::before {
			content: "";
			position: absolute;
			height: 26px;
			width: 90px;
			background-color: #42DD42;
			top: 102px;
			left: 9px;
			transform: rotate(36deg);
		}

	}

	&__title {
		position: relative;
		z-index: 1;
		font-size: 25px;
		text-align: center;
	}

	&__text {
		position: relative;
		z-index: 1;
		margin-top: 20px;
		margin-bottom: 30px;
		font-size: 17px;
	}

	&__btns-wrapper {
		margin-top: 20px;
		display: flex;
		column-gap: 20px;

	}

	&__btn {
		flex: 1 1 300px;
		padding: 10px 20px;
		color: #ffffff;
		letter-spacing: 1.1px;
		transition: all 0.3s;

	}

	&__btn.enter {
		background-color: $mainColorGreen;

		&:hover {
			background-color: $mainColorBrightYellow;
			color: #000000;
		}

	}

	&__btn.no-enter {
		background-color: $mainColorDeepBlue;

		&:hover {
			background-color: $mainColorBrightYellow;
			color: #000000;
		}
	}
}