.auth {
	width: 100%;
	min-height: calc(100vh);
	display: flex;
	justify-content: center;
	align-items: center;

	&__wrapper {
		flex: 1 1;
		max-width: 700px;
		display: grid;
		grid-template-columns: 60% 40%;
		transition: 1s all;
		height: 365px;
	}

	&__left-side {
		max-width: 100%;
		max-height: 100%;
		display: flex;
		position: relative;
		

		&::after{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.262);
		}
		&::before {
			content: '';
		}
	}
	
	&__left-side-title{
		padding: 0 30px;
		line-height: 49px;
		margin-top: 20%;
		width: 100%;
		font-size: 47px;
		letter-spacing: 1.2px;
		text-align: center;
		position: absolute;
		color: rgb(255, 255, 255);
		z-index: 1;
		font-family: 'BarlowCondensed-regular';
		text-shadow: -1px 1px 6px #000000;
	}

	&__left-side-bg {
		object-fit: cover;
		max-width: 100%;
		height: auto;
	}

	&__right-side {
		background: rgb(255, 255, 255);
	}

	&__form {
		height: 365px;
	}
	&__form-btn-wrapper{
		display: flex;
		overflow: hidden;
	}
	&__signIn-btn, &__signUp-btn{
		display: block;
		text-align: center;
		flex: 1 1 50%;
		padding: 5px 0px;
		position: relative;
		transition: all 0.4s;
		&:hover{
			background:rgb(245, 225, 45);
			color: #000000;
		}
		&:hover::after{
			background:rgb(245, 225, 45);
		}
	}
	&__signIn-btn{
		background: #234687;
		color: rgb(255, 255, 255);
		&::after{
			content: '';
			position: absolute;
			width: 40px;
			height: 100%;
			background:  #234687;
			transform: rotate(-45deg);
			z-index: 2;
			top: -8px;
			right: -8px;
			transition: all 0.4s
		}
		&-span{
			position: relative;
			z-index: 5;
		}
		
	}
	&__signUp-btn{
		background: rgb(36, 221, 60);
		color: rgb(255, 255, 255);
		&::after{
			content: '';
			position: absolute;
			width: 40px;
			height: 100%;
			background:  rgb(36, 221, 60);
			transform: rotate(-45deg);
			z-index: 2;
			top: 8px;
			left: -12px;
			transition: all 0.4s
		}
	}
}

.company-logo{
	margin-top: 70px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 6;
	display: flex;
	justify-content: center;
	&__svg{
		width: 150px;
		height: auto;
	}
}