.auth {
	width: 100%;
	min-height: calc(100vh);
	display: flex;
	justify-content: center;
	align-items: center;
	&__wrapper {
		flex: 1 1;
		max-width: 600px;
		height: 300px;
		border: 1px solid black;
	}

	&__form {
	}
}
