.app{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	&__title{
		font-size: 70px;
	}
}

.auth-active{
	background-image: linear-gradient(to right top, #5ee338, #00e58d, #00e1cc, #00d8f4, #00cbff, #00bcff, #00acfd, #1f9bf8, #0085f3, #006fec, #0056e1, #0f3ad3);
}