//colors
$mainColorGreen: #42DD42;;
$mainColorDeepBlue: #204884;
$mainColorBrightYellow: rgb(245, 225, 45);
$bgGradiendFromGreenToBlue:linear-gradient(to right top, #5ee338, #00e58d, #00e1cc, #00d8f4, #00cbff, #00bcff, #00acfd, #1f9bf8, #0085f3, #006fec, #0056e1, #0f3ad3);
$bgGradientFromLightBlueToBlue:linear-gradient(to right top, #00e1cc, #00d8f4, #00cbff, #00bcff, #00acfd, #1f9bf8, #0085f3, #006fec, #0056e1, #3c65fa);
$redAlertColor: #fa1f1f;