

.confirm-green-btn{
	color: #ffffff;
	background:  $mainColorGreen;
	border-radius: 43px;
	padding: 6px 14px;
	font-size: 18px;
	transition: all 0.3s;
	&:hover{
		background: $mainColorBrightYellow;
		color: #000000;
	}
}