.main{
	flex: 1 1;
	background: -webkit-linear-gradient(45deg, rgb(254, 255, 252) 31%, rgb(201, 255, 124) 84%, rgb(255, 255, 255) 100%);

	background: linear-gradient(45deg, rgb(254, 255, 252) 31%, rgb(208, 255, 142) 100%, rgb(255, 255, 255) 100%);
}