.main{
	flex: 1 1;
	background: -webkit-linear-gradient(45deg, rgb(254, 255, 252) 31%, rgb(201, 255, 124) 84%, rgb(255, 255, 255) 100%);

	background-image: linear-gradient(to right top, #00e1cc, #00d8f4, #00cbff, #00bcff, #00acfd, #1f9bf8, #0085f3, #006fec, #0056e1, #3c65fa);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}